<nav class="navbar main navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>Walltery</strong> <small class="text-secondary">v1.0</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <a class="btn btn-primary" target="_blank" href="https://github.com/eknvarli/walltery"><i class="bi bi-github"></i> GitHub</a>
  </div>
  </div>
</nav>